body {
    margin: 0;
    padding: 0;
    background-color: #526788;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: bold;
}

img {
    height: 40%;
    width: 40%;
    float: left;
    padding: 10px;
    text-align: center;
}

section {
    width: 90%;
    margin: 0 auto;
}